<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles.css">
    <script type="text/javascript" src="/script.js">
    </script>
    <title>Hello World</title>
  </head>
  <body>
    <h1>Hello World</h1>
    <h2>My Bucket List</h2>
    <ul>

    </ul>
    <table>
      <thead>
        <tr>
          <td>Country Name</td>
          <td>Population</td>
          <td>Density</td>
        </tr>
      </thead>
      <% for country in COUNTRIES %>
      <tr>
        <td data-name= <%= country["name"] %> > <%= country["name"] %> </td>
        <td> <%= country["population"] %> </td>
        <td> <%= population_density(country) %> </td>
      </tr>
      <% end %>
    </table>
  </body>
</html>
